<IfModule mod_rewrite.c>
    RewriteEngine On

    # Если запрашиваемый файл или папка существует — отдать как есть
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Иначе — перенаправить всё на index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>